* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.span-element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightgrey;
  padding: 10px;
  margin: 30px;
}

#page-navigation {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  padding-top: 20px;
}
#page-navigation a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
#page-navigation li {
  list-style: none;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border: 3px purple solid;
  padding: 5px;
  margin-left: -40px;
}
.main-section {
  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-bottom: 100px;
}
@media all and (max-width: 748px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #page-navigation {
    position: relative;
  }
  #page-navigation a {
    width: 100%;
    font-size: 15px;
    /* justify-content: space-around; */
  }
  .main-section {
    margin-left: 0; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    /* padding: 0px 10px;
    margin-bottom: 100px; */
  }
}
